[2014-08-29 16:55] pratiklodha95 opened #2 "$digest loop already running"
there are so many apply used in the code that many app , can encounter such an error ,
there should be a $timeout(init(),0); to avoid such an error ,

[2014-10-12 14:45] yagobski opened #3 "handle progress bar using cursor"
Hi,

Why i can't handle the progress of songs on the player. i want to change position of cursor by my mouse.

[2014-10-28 02:19] forrestbe opened #4 "mute from demo example doesn't work on IOS devices."

[2014-11-02 19:15] aamin89 opened #5 "Play listing issue on Android 4.4.4"
Normally in Windows google chrome it works fine. but in my mobile browser or after installing the native app on mobile current playing got stuck when I add something new to the playlist. Please solve the issue.

[2014-11-25 00:04] cawo88 opened #6 "how to use togglePause"
In Sound Manager.js there is a toggle pause function. How would you create a custom directive for this?

[2014-12-11 12:22] #3 closed, assigned to nobody

[2015-01-08 21:52] denitto opened #9 "Can't resolve SoundCloud stream url.."
Great job with the port!  Works great so far with mp3 urls.  I have not had the same success with SoundCloud stream urls (which I believe do a 3xx redirect), unfortunately.

So basically , if you put the below url complete with `client_id` in a browser (I use Chrome), the browser should resolve the final url for a SoundCloud `stream_url`.  When I try to put the same url into SoundManager2 (and I'v

[2015-01-12 19:24] denitto commented on #9
I was actually able to get this to work with the SoundCloud-SDK.  Happy to post the code if someone else is interested.

[2015-01-12 19:25] perminder-klair commented on #9
@denitto that's great news! It will be amazing if you can create pull request of code to this repo or simply send me code via email.

Thanks again!

[2015-01-12 19:42] denitto commented on #9
Will do, bud.  Still working out a couple of things but at least got tracks playing!

[2015-02-05 00:01] perminder-klair commented on #9
@denitto any updates with soundcloud sdk?

[2015-02-05 00:08] denitto commented on #9
Hey, bud!  So funny.  was literally just looking at this thread.  I thought I had your port working with SoundCloud, but something was off.  I realized I could play files multiple times simultaneously, meaning the objects were not correctly going to the angular-soundmanager2 player.

So where I am now, I have SoundCloud SDK pulling in SoundManager2 Objects, but when I try to feed them into SoundMa

[2015-02-05 00:24] perminder-klair commented on #9
@denitto great! I just updated whole module, try to pull in latest code and see if things works.

I will look into soundcloud in next few days (wanted to optimise this module first).

[2015-02-05 00:26] denitto commented on #9
Sick.  Thanks, bud.  I'll download and right now then report back.  Oh, man.  If we can get this working, I'll kiss your feet.

[2015-02-05 00:33] perminder-klair commented on #9
@denitto haha I don't want to promise, but I will try to make it work with SoundCloud tomorrow. ;)

[2015-02-05 00:52] denitto commented on #9
Oh, hey, what?  got it working!
Changed this line:

[code]

[2015-02-05 00:55] perminder-klair commented on #9
good find @denitto. This does makes sense as method canPlayUrl() is not working with soundcloud.

I will try to override this method and push a working update tomorrow.

Thanks!

[2015-02-05 00:59] denitto commented on #9
Hellz yes.  Thanks, dude!

Here's the SoundCloud code I used (assuming you've included the SDK javascript):

[code]

HTML:
`
<i music-player="play" add-song="tracks[$index]"></i>
`

[2015-02-05 07:50] targetoyes opened #11 "hope to add one music‘s repeatting function"
i have changed to use your sound js,very awesome. i try to find a song's ending flag that i can control one song's repeatting by using $watch, not the all list song's repeatting.hoping to add that function.

[2015-02-05 09:22] perminder-klair commented on #5
@aamin89 can you try now as I have made some changes. let me know if you can provide debug code.

[2015-02-05 18:32] angelcambero commented on #6
Hey cawo88,

You can do something like this:

	$("#pause").hide();
	$("#play").hide();

	$("#play-all").click(function(){
    		$("#play-all").hide();
    		$("#pause").show();
	});

	$("#pause, #stop").click(function(){
    		$("#pause").hide();
    		$("#play").show();
	});

	$("#play").click(function(){
    		$("#play").hide();
    		$("#pause").show();
	});

And put all the elements in the sam

[2015-02-06 11:00] perminder-klair commented on #6
@angelcambero thanks for your solution. But instead of using jQuery, let's stick with AngularJs.

So @cawo88 , I have created a new directive for Play Pause Toggle, here how to use it:
[code]
You can pass custom Play/Pause html using: data-play and data-pause.

Here is working demo: http://perminder-klair.github.io/angular-soundmanager2/

[2015-02-06 11:00] #6 closed

[2015-02-06 14:21] Gargol commented on #9
Hi guys. Have the same exact problem as @denitto described, got it working by substituting track validation function in `angularPlayer` factory. Will be doing a PR later on today. And here is the code I changed:
[code]

and this method is used in `addTrack` like so:
[code]

I havent found any good way to check the instance of track object as `SMSound` is private.. that's why I am checking type for

[2015-02-06 15:42] perminder-klair commented on #9
thanks @Gargol !
@denitto here it is, soundcloud support added, working example here: https://github.com/perminder-klair/angular-soundmanager2/tree/master/example-soundcloud

[2015-02-08 01:15] targetoyes commented on #11
though i found way to solve,it made my code look terrible.

[2015-02-08 01:28] targetoyes commented on #11
i always get 'x GET http://xxxx/media/music/XXXX.mp3'  meaning getting media resources failed in chrome's console,but your demo works ok.i was trying to find the reason,i don't know why cause it. i used django to test it, had that problem.so i had used uwgsi and nginx to support ,but still had.can you tell me how i can handle it.

[2015-02-08 11:43] Gargol opened #12 "Migrate `console.log()` to angular log service"
When I am running `angular-soudmanager2` components on production, there are lots of `console.log`s polluting console.

Would love to have possibility to make this configurable through `$log` service provided by angular core components.

[2015-02-08 11:56] Gargol opened #14 "Gruntfile is using inconsistent space characters"
Main files in the project are using `4 spaces` for `tab`. Gruntfile is a mix of both. Would be nice to have consistent file.

[2015-02-08 12:00] Gargol commented on #9
Hi guys. Was going to do a PR the other day as promissed but looks like @pinku1 did all the work for me :smile: . Opened couple of other issues and PRs instead :smirk:

[2015-02-08 18:47] #14 closed

[2015-02-08 18:50] #12 closed

[2015-02-08 18:54] perminder-klair commented on #11
@targetoyes I will look into this and get back to you.

[2015-02-08 21:12] perminder-klair commented on #11
best thing to do for this purpose is, in your controller:
[code]

Hope this is what you were looking for.

[2015-02-08 21:17] perminder-klair commented on #4
Guys, I don't have iOS device with me, is it possible for any of you guys to find out a working solution?

Thanks.

[2015-02-09 01:34] targetoyes commented on #11
thanks  perminder-klair ，
this way is what i want
scope.$on('track:progress', function(event, data) {
     console.log(parseInt(data));
     if (parseInt(data) === 100) {
         console.log("it's over now");
//track finished playing, do here what ever you want to do
     }
 });

[2015-02-09 06:04] perminder-klair commented on #11
@targetoyes nice work! glad it helped! happy coding!!!

[2015-02-09 06:04] #11 closed

[2015-02-09 09:42] lalmohan opened #16 "Uncaught TypeError: undefined is not a function"
getting error Uncaught TypeError: undefined is not a function
in line  result =  sm2.html5.canPlayType({type:mime});

[2015-02-09 09:46] perminder-klair commented on #16
@lalmohan what line this error shows in console log and at what stage ?

[2015-02-09 10:13] lalmohan commented on #16
@perminder-klair added your example code in my project also set the scope for songs
getting error while click on song first
line no 4103 'Uncaught TypeError: undefined is not a function'
line is 'result = sm2.html5.canPlayType({type:mime});'

[2015-02-09 12:18] perminder-klair commented on #16
@lalmohan I am not able to replicate this error. Is it possible for you to provide me code from your app where you getting this error?

[2015-02-09 12:31] #9 closed

[2015-02-10 05:55] lalmohan commented on #16
@perminder-klair first error was because of the old version.updated and  now the error is changed 'soundManager is not defined'
Before error getting alert 'Please include SoundManager2 Library!'

[2015-02-10 08:04] perminder-klair commented on #16
@lalmohan need to see your code to find out what's wrong... sorry can't replicate error like this.

[2015-02-10 11:33] Gargol opened #17 "Events documentation"
Would be great to have some quick reference about what events are emitted by the `angularPlayer`.
E.g: `track:progress`,  `music:isPlaying`

[2015-02-10 11:38] perminder-klair commented on #17
@Gargol that's great idea, I was thinking to write proper API documentation already, seems like you pushing me for it now ;)

[2015-02-10 11:40] Gargol commented on #17
@perminder-klair no pressure :wink:  just a suggestion. would love to help out if needed.

[2015-02-10 11:46] perminder-klair commented on #17
thanks @Gargol I am going to setup and new branch called `documentation` using Jekyll. I will let you know once it's pushed, will be great if you can help in writing documentation!

[2015-02-10 11:55] Gargol commented on #17
great! cheers buddy.

[2015-02-10 12:16] perminder-klair commented on #17
@Gargol here is is: https://github.com/perminder-klair/angular-soundmanager2/tree/documentation

[2015-02-10 15:27] perminder-klair commented on #17
All sorted with documentation setup http://perminder-klair.github.io/angular-soundmanager2/, just need to write them now!

[2015-02-10 22:55] perminder-klair commented on #17
List of available events are now at documentation, happy to close this issue? as by time we can improve documentation.

[2015-02-10 23:04] #17 closed

[2015-02-10 23:04] Gargol commented on #17
@perminder-klair cool to see such fast progress :+1:

[2015-02-13 15:48] aleiix24 opened #18 "Get the url of a track asynchronous before playing it"
I'm wondering if it's possible to create a playlist (for example 5 tracks), without passing the url of each track. And before play every track get the URL from an external service and then play it.

I think it's not possible, because when you add a song to a playlist you create a sound using: soundManager.createSound (and in this moment you really need to have the url of that track).

[2015-02-13 16:11] perminder-klair commented on #18
I think it's possible but out of scope of this project.

Maybe you can call a function in your controller ( don't use play directive provided).
In your new function get the url and update the $scope.songs[0].url with just grabbed url.

Then trigger play with:
[code]

[2015-02-13 16:14] perminder-klair commented on #18
Do something like this:

Add this in your view:
[code]

Add the following in your controller:
[code]

[2015-02-13 16:20] perminder-klair commented on #5
Tested with Android 4.1.2 all works, closing this issue.

[2015-02-13 16:20] #5 closed

[2015-02-13 16:24] perminder-klair commented on #2
Hello @pratiklodha95 any specific example case for this?

Thanks

[2015-02-13 18:01] #18 closed

[2015-02-17 02:13] denitto opened #19 "'add-all' directive request"
Hi Perminder:

play-all is a rad directive.  Would it be easy to include an add-all directive that enqueues all tracks in list 'songs'?

Thanks!
Nick D.

[2015-02-17 17:30] perminder-klair commented on #19
Done, try this:
[code]

This will just add tracks and won't play them.

[2015-02-17 17:35] perminder-klair commented on #19
For ref: https://github.com/perminder-klair/angular-soundmanager2/commit/a73c5ed256662de71ea6e3afc1ab5ab90e1e1e08

[2015-02-17 20:06] denitto commented on #19
wow, so fast!  Thanks, man.  downloading/testing now

[2015-02-17 21:08] denitto commented on #19
Just tested this.  It does add all the tracks in the list without playing, but it also erases all tracks in the playlist.

[2015-02-18 17:36] perminder-klair commented on #19
@denitto need to do something about that. Will try tonight.

[2015-02-18 20:44] diegolz opened #21 "Error when sound finishes"
Hi! First of all I'm new to soundmanager but I get this error after the track ends:
 Uncaught TypeError: Cannot read property 'get' of undefined  angular-soundmanager2.js:6086 init.soundManager.setup.defaultOptions.onfinish    angular-soundmanager2.js:3179
(anonymous function)angular-soundmanager2.js:3466 wrapCallback   angular-soundmanager2.js:3178 SMSound._onfinishangular-soundmanager2.js:3801 (

[2015-02-18 20:53] diegolz commented on #21
The error disappears when I create the sound via soundManager.createSound. I think I'll try to override the onfinish function in order to set the isPlaying var to false after video ends.

[2015-02-18 22:14] arielfaur opened #22 "add setup paramenters and Flash support"
Hi ! First of all thanks for such a great module!
I noticed that the angularPlayer service init function is defined as follows

    ngSoundManager.factory('angularPlayer', ['$rootScope',
    function($rootScope) {
        var currentTrack = null,
            repeat = false,
            autoPlay = true,
            isPlaying = false,
            volume = 90,
            trackProgress = 0,

[2015-02-19 12:00] perminder-klair commented on #22
Hello @arielfaur

That's actually good idea, I will try to implement this and update you with progress.

[2015-03-24 07:52] Hamiid opened #23 "Add 360 UI"
Hi
How Can I add 360 UI template ?

[2015-03-24 11:53] milanart opened #24 "buffering state"
can you add functionlity to fetch buffering position? just to show how much data is in buffer.

[2015-03-24 13:41] milanart commented on #24
I got buffering state by moodifying/adding some code,
Declared variable
[code]

used your comments for getting buffer value
[code]

Added this is 'soundManager' directive
[code]

now use 'loaded' value in html, the same way 'progress' is used. add some css.

Tried to put these changes in pull request, but there was some problem.
please check and alter with some performance improvement.

[2015-03-25 03:30] milanart opened #25 "pause position problem"
When I pause one running audio on 00:20, it pauses at 00:10 or anything less than 00:20(lets say, 00:10). when clicking play button again it resumes from that location(at 00:10), not from 00:20.
additionally, if i pause in future (eg. somewhere at 00:40, 01:32 etc) the position of 'progress' comes back at 00:10 and resumes from there only.
I tried to fix this, but couldn't succeed. your help will

[2015-03-27 06:06] milanart commented on #25
I forgot to close one 'div' and that was causing this problem.
sorry, my bad.

[2015-03-27 06:06] #25 closed

[2015-03-30 20:04] melino commented on #21
I have solved this by including `$injector` to the `ngSoundManager.factory` and changed
`var angularPlayer = injector.get('angularPlayer');`
to
`var angularPlayer = $injector.get('angularPlayer');`
(you can get rid of the lines above within the if statement)

[2015-04-10 14:15] apricot13 commented on #21
I had this same issue - its because I was using ```data-ng-app``` not ```ng-app``` in my <html> so the injector couldn't find my app.

You either need to amend [ng-app] below or change your html attribute.

[code]

[2015-04-17 08:32] CreativityKills commented on #21
Shouldnt this be fixed by the maintainer

[2015-04-22 18:16] #2 closed

[2015-04-22 18:16] perminder-klair commented on #4
@forrestbe @abrkt fyi

[2015-04-22 18:16] #16 closed

[2015-04-22 18:23] perminder-klair commented on #21
@diegolz @apricot13 @melino can you please do a pull request if possible? I can't replicate this issue, so not sure what is wrong.

[2015-04-22 18:24] perminder-klair commented on #23
This plugin is really simple, I never used 360 UI, seems like with some custom CSS it can be done easily.

[2015-04-22 18:24] perminder-klair commented on #23
@Hamiid fyi

[2015-04-22 18:33] perminder-klair commented on #24
thanks @milanart , added this event. Also added in documentation: http://perminder-klair.github.io/angular-soundmanager2/ref/events.html

[2015-04-22 18:33] #24 closed

[2015-04-23 08:50] apricot13 commented on #21
I've recreated the issue in plunker: http://plnkr.co/edit/hjlagTWsp4XtAFZCCaKs

to replicate - click 'play all' and wait until the first track finishes - the error is triggered when the first track finishes.

[2015-04-23 17:52] #23 closed

[2015-04-24 09:41] perminder-klair commented on #21
Thanks @apricot13

I see all you need to change is in your HTML code,
FROM:
[code]
TO:
[code]

As you mentioned above, I am not sure what I can do to fix this issue for future?

[2015-04-24 10:04] abrkt commented on #4
From Safari Developer Library:

Simply you cant control the volume property on iOS devices.

[2015-04-24 16:27] perminder-klair commented on #4
@abrkt thanks for clearing this up! closing the issue now.

[2015-04-24 16:27] #4 closed

[2015-04-29 01:26] denitto commented on #19
hey @perminder-klair!  Was this ever resolved?  About to finally launch our site and this is one of the last bugs.

[2015-05-01 00:55] denitto commented on #19
@perminder-klair:  temporarily too the line that clears the playlist out so that we can launch.  lmk if you make a change to the code.

got another quick request regarding this:  now that the playlist is not cleared, any way to feed a track id/link in for where to start when you use:  `play-all="these_tracks" data-play="true"`?

[2015-05-01 22:20] denitto commented on #19
@perminder-klair:  last update.  Found a crazy bug (side effect, actually) whereby SoundCloud tracks are actually screwing up the player indexing!   Took me forever and a couple of hairs to track down.

Basically, it appears that `soundManager` object is auto-acquiring `sm_objects` that come in from SoundCloud stream method somehow.  You probably understand SoundManager better than me so that may

[2015-06-16 14:29] pquarme opened #27 "Controlelr"
How can I add songs and playlist from angular controllers?

[2015-07-18 08:03] rothanachoun commented on #27
+1

[2015-07-18 09:35] rothanachoun commented on #27
Any solutions yet? I face the same problem and i do need this functionality.

[2015-07-22 02:34] rothanachoun commented on #27
Updated: I found the solution. We can use `AngularPlayer Factory` to add song to playlist in Controller.

[2015-07-22 11:44] pquarme commented on #27
@rothanachoun I'll test it out and report my findings. Thank you.

[2015-07-23 20:44] lfractucello opened #28 "start page with music loaded"
i have a player and i need the set a music from page load.

and when the User click play he already play this music that I set , and if he chooses another song change

[2015-08-14 21:16] jibeetz opened #29 "Updating currentPlaying object on some events"
Hello,

I would like to toggle display the player depending if a song is loaded or not.

I use currentPlaying.length in an ng-show, and it works fine. Unfortunately currentPlaying doesn't update when a *remove from playlist* event is triggered (when the current song is removed, or for a clearPlaylist).

I tried to add:

[code]
to those directives but nothing works.

Any clue on how I can make it ?

[2015-08-15 07:34] jibeetz commented on #29
I find a way to do it.

[code]

In removeSong method:
[code]

In clearPlaylist method:
[code]

[2015-08-15 07:34] #29 closed

[2015-08-24 07:12] smkhalsa opened #30 "Adding to playlist pauses playback on iOS browser"
In iOS browser, when a track is playing and I add a second track to the playlist, the first track stops playing.

It works correctly in desktop chrome, but not in iOS browser.

[2015-08-25 04:12] alexayan opened #31 "lazy load the script after DOMContentLoaded"
hi, i found that if lazy load angular-soundmanager2.js after DOMContentLoaded, the code is not running correctly. because soundManager don't run DOMContentLoaded callback.

do you want to consider this situation?

[2015-09-01 11:27] madStEvil commented on #30
jepp, i have the same problem and another guy too. --> http://stackoverflow.com/questions/26692174/angular-soundmanager-stops-current-playing-when-i-add-new-song-to-the-playlist

i think my problem comes when i want to controll the player (addTrack+playTrack) after a succeeded HTTP request!!!
Desktop worked fine, only the mobileDevices (also Android) are buggy.

[2015-09-06 18:22] alijmlzd commented on #22
Hi @perminder-klair
I've the same issue with this module as @arielfaur described. and it's so cool to be resolved as soon :)

Thank You

[2015-09-09 05:00] smkhalsa commented on #30
@perminder-klair, any idea what might be causing this?

[2015-09-09 06:55] smkhalsa commented on #30
As a workaround, you can dependency inject the angularPlayer factory and call the "addToPlaylist" method directly.

This seems to be working on iOS without pausing playback.

[2015-09-14 16:19] fabfelici commented on #30
I struggled for a couple of hour on this as well. I resolved by changing `_setup_html5` line `a = useGlobalHTML5Audio ? globalHTML5Audio : s._a,` to `a = s._a,`. Seems like the `globalHTML5Audio` was causing `a._s.stop();` to be called. I tried to force `_s.playState = 0` but after hitting `a.src = instanceOptions.url;` the playback stopped.
Hope this will help!

[2015-09-20 03:37] kamronbatman opened #34 "Ongoing Updates & Maintenance"
It looks like this project is abandoned.  Our team has forked the project and will be happy to support/update the project as needed.

Please send Pull Requests/Issues to: https://github.com/fiddioteam/angular-soundmanager2

Thanks!!

[2015-09-24 13:38] perminder-klair commented on #34
Thanks @kamronbatman

Due it some personal issues I am not able to work on these projects, hopefully I will back soon and join you guys.

Thanks

[2015-10-15 10:10] ping commented on #34
@kamronbatman Is your fork accepting issues? It doesn't seem enabled.

[2015-10-28 06:45] qaraluch opened #35 "angular-sm2 setup trivia"
hello,
How to get to defoultOptions on load of script?
[code]
It dosnt work :/

[2015-11-02 08:55] #35 closed

[2015-11-20 23:53] 4string commented on #2
I am also getting this error when loading a song from my controller. (angularPlayer.addTrack(song);)

The audio eventually plays, but I get several errors of: Error: [$rootScope:inprog] $apply already in progress

I fixed the error by replacing $apply with $applyAsync.
https://docs.angularjs.org/api/ng/type/$rootScope.Scope#$applyAsync

Perhaps there is a better way to play songs from the controll

[2015-12-02 00:59] numerized commented on #21
This corrected my issue to with injector :+1:

Thanks @melino !

I have solved this by including $injector to the ngSoundManager.factory and changed
var angularPlayer = injector.get('angularPlayer');
to
var angularPlayer = $injector.get('angularPlayer');
(you can get rid of the lines above within the if statement)

[2015-12-02 15:18] apricot13 commented on #21
@perminder-klair  the quick and dirty fix would be to include support for both types, I used data- because of cross browser issues (If I remember correctly!)

 var elem = angular.element(document.querySelector('[ng-app]'));

[2016-01-07 10:16] mattJur opened #39 "safari problem"
hi,
 I'm notice that there is a problem on safari browser.

soundManager.createSound(): Unavailable - wait until onready() has fired.
soundManager.play(): Unavailable - wait until onready() has fired.

Please help :pray:

[2016-01-08 08:51] mattJur commented on #39
My mistake.
I'm using win7 and safari v. 5.
https://developer.apple.com/library/safari/documentation/AudioVideo/Conceptual/Using_HTML5_Audio_Video/PlayingandSynthesizingSounds/PlayingandSynthesizingSounds.html#//apple_ref/doc/uid/TP40009523-CH6-SW1

[2016-01-08 08:51] #39 closed

[2016-01-15 15:46] etb09 opened #40 "Shuffle Playlist"
Add a possibility to play the playlist in a randomly chosen order

(like the repeat-posibility, toggle to activate)

[2016-01-20 00:45] Stordia commented on #40
+1

[2016-01-22 16:48] roybekhuis opened #41 "Factory suggestion"
First of all thanks for all your effort in writing this angular wrapper!
There are two things that might be helpfull to implement in my opinion.
First change scope.$apply in the main directive to scope.$applyAsync as it gives Error: [$rootScope:inprog] $apply already in progress

I didn't see a play/pause function in the factory. As I understand you use initPlayTrack for that function.

I suggest

[2016-02-05 10:54] xduseko opened #42 "$apply already in progress"
This error occurs when `angularPlayer` service is used and `soundManager` directive exists on the page.

Example:
1. Call `angularPlayer.addTrack` inside `ng-click` event handler.
    *Note: Every `ng-something` handler is executed in $apply phase by AngularJS.*
2. Method `angularPlayer.addTrack` broadcasts `player:playlist` event.
3. SoundManager directive catches the event.
[code]
*Note: We are

[2016-02-05 11:10] xduseko commented on #42
Pull request https://github.com/perminder-klair/angular-soundmanager2/pull/43

[2016-02-10 00:00] lthomas122 opened #44 "Volume resets when loading new file in player"
When playing a track and setting the volume, if you change track the volume resets to the default volume of 90.  The value of "Volume: " in the player's HTML will remain at the last value set, but the actual volume would have reverted to default.

I noticed on inspection of the JS (snippet below [Ln: 4734 - 4744]) that the volume controls only set the volume of the current track being played by So

[2016-02-23 17:49] rochapablo commented on #2
Just to keep registered, in my case I had to do:

[code]

[2016-03-16 14:29] rochapablo commented on #40
+1

[2016-03-16 14:47] rochapablo opened #45 "How to loop entire playlist?"
I'm adding the songs to player like this:

[code]

But at the end, after all played how to restart the playlist and keep it in loop?

[2016-03-19 21:43] codesalsa opened #46 "Using angular-soundmanager2 for playing Icecast stream"
Hi

I tried using angular-soundmanager2 for playing Icecast Stream. Its showing the error "Media resource http://192.64.83.67:8000/airtime_128 could not be decoded", where http://192.64.83.67:8000/airtime_128 is my icecast stream url.

Can you check this and let me know how to fix this.

Thanks

[2016-03-20 05:41] elprup commented on #42
I have the same problem, solved by xduseko's fix, thanks.

[2016-03-20 05:49] elprup opened #47 "clear playlist takes too much time, let timeout be zero?"
First, thanks for your effort on this great library.
I notice when I try to remove all songs from playlist which including 40+ songs, it always takes a long time. In clearPlaylist I notice the function loop setTimeout is 100ms, which is too long for long list. I modify it to 0 and it works great.
I don't check the code related, is it the good practice? Why the initial timeout is 100ms?

[2016-04-05 14:34] mroker242 commented on #28
I am trying to find out how to do this as well. Any suggestions? How can music be automatically played?

[2016-04-05 14:35] mroker242 opened #48 "autoload songs"
I would like, when a user open the page music is automatically played. I see in the js file there is an option to set autoplay to true, but don't know where to go from here.

[2016-04-10 17:57] swapniprakashpatil opened #49 "360 Player"
Is 360 Player going to be involved in this?

http://www.schillmania.com/projects/soundmanager2/demo/360-player/canvas-visualization.html

[2016-04-22 22:49] codesalsa commented on #19
Hi Perminder

I have one issue at the end of my app coding. I have created Music Albums and for each album there is a button to "Play all songs". In teh first instance its playing super fine. It adds all songs to the list and playing. But at the playing state, if I click to play all songs from another album. It stops and Nothing plays afterwards.

Can you provide me a solution for this?

Thanks

[2016-04-29 18:03] rochapablo opened #50 "Ignore $log"
How can I disable the $logs?

[code]

[2016-05-12 03:03] Mattnmoore opened #51 "Add NPM support"
It would be nice to be able to pull this in with NPM instead of Bower.

This looks good though, thanks!

[2016-05-12 03:40] Mattnmoore opened #52 "Prefix $rootScope events"
It might be a good idea to prefix your $rootScope events with a module name or something to reduce naming collisions.

[2016-05-12 03:42] Mattnmoore opened #53 "Using the angularPlayer factory methods cause duplicate apply() errors"
Whenever I try to use the factory methods directly, I get errors from Angular saying that apply() is already in progress.

[2016-05-19 13:51] rochapablo commented on #45
Well, never mind!

Here's what I did:

[code]

[2016-05-19 13:51] #45 closed

[2016-05-22 23:54] StrikeForceZero commented on #51
until someone publishes it you could use `"angular-soundmanager2": "perminder-klair/angular-soundmanager2#v0.5.6"` in your package.json to use npm instead of bower.

[2016-06-01 13:58] rochapablo opened #54 "Sometimes currentDuration + progress are not showing up"
I don't get it why sometimes the song start but neither currentDuration and progress shows up. In a playlists, sometimes it shows only before play two or more songs.

Here's how I start my playlist

[code]

[code]

Checking the duration:

[code]

... at the first time I got **0 (zero)**. At the second time I got **10913.469**.

![201606011114](https://cloud.githubusercontent.com/assets/5365304/157

[2016-06-01 14:32] rochapablo commented on #53
Try $timeout, like:

[code]

[2016-06-01 14:34] rochapablo commented on #50
Never mind. I've jus did:

[code]

[2016-06-01 14:34] #50 closed

[2016-06-01 20:51] rochapablo commented on #54
Nerver mind, I was missing the headers (Content-Type, Content-Length).

[2016-06-01 20:51] #54 closed

[2016-06-05 14:53] litil commented on #53
Thanks @rochapablo , it worked for me!

[2016-07-07 06:18] GunaSekhar1 opened #55 "In Live demo"
Play is not working, can you check and update me, need to use it in my appication.

[2016-07-19 06:56] GunaSekhar1 commented on #19
Play all button is playing only first song, not all the songs in an array. can you please help me.

[2016-07-19 07:02] GunaSekhar1 opened #56 "Playing playlist"
Only first song is playing in playlist among all songs, can you please help me.

[2016-08-10 16:35] kaotika commented on #48
Is there any update how to add songs into the playlist on controller side and start playing it?

[2016-09-27 19:49] sai502 opened #57 "How to pass HTTP Authentication in the header for playing audio files"
We are working on streaming audio file using rest api which is authenticated.
We are facing issues in passing authentication to the Header. Using this library is there any way to pass authenticated http requests.

Please suggest asap.

[2016-10-18 03:53] ThePeiggy opened #58 "isPlaying takes on the wrong value if there is no next track"
If `next-track` is activated but there is no next track, the music continues, but `isPlaying` is set to `false`.

[2016-10-18 04:07] ThePeiggy opened #59 "currentPosition is wrongly named currentPostion"
Search scope.currentPostion

[2016-11-08 12:52] Ketan-saresa opened #60 "Problem while updating playlist"
Hello, i am facing a problem when i update my playlist run time. what i need to do is load songs based on user preferences. when my current song is playing and i load new songs my current playing song stops in mobile. When i use clearPlaylist it doesnt work but if i remove songs from playlist then it works fine in web but song stops in mobile. **I want to load new songs without halting the current

[2016-12-19 17:27] philecom opened #62 "How to set play position from controller"
How do i set the play position or the regress bar manually.
my app saves the last play position of the user, so that they can resume even after they restart their phone.
i am however finding it difficult setting the position manually.
I will be glad if anyone can help.. thank you

[2016-12-20 01:32] adaxx opened #63 "How to display playtrack name from shoutcast raido ?"
There is a possibility to show the current song name that goes on the shoutcast radio?

[2017-01-11 21:45] melino opened #64 "gapless play"
Is there a way to eliminate the gap between tracks?

When playing a list of tracks, there is a gap of approx 0.5 seconds between each track.
I'd like to set it to zero. Ist that possible?

[2017-01-31 09:43] Omang commented on #27
when i call angularSoundManager instance on my angular module i got an error: The controller with the name 'navController' is not registered. but this controller have been running okay.

[2017-02-05 17:55] oliwin commented on #45
As solution I offer:

[code]

[2017-02-09 22:01] rochapablo commented on #45
Hey @oliwin,

I tried fix the loop and it's seems that now it's working.

You can check the code bellow or the [example running](http://codepen.io/rochapablo/pen/jyedeE?editors=0011).

[code]

Hope that now we had kill these dragon.

Peace man!

[2017-02-10 07:29] oliwin commented on #45
Hi, man!
It is great, but I can not see play() method, how to start playing?

2017-02-10 2:01 GMT+04:00 Pablo <notifications@github.com>:

--
*Олег Валерьевич *
Телефон: +(994) 51 40 333 90

[2017-02-10 09:34] rochapablo commented on #45
@oliwin,

The play() was a method that I was using in another way, you can keep using, but you'll have to implement that.

The main problem was showing the current name, which we change from```music:isPlaying```  to ```'track:progress'`` plus some code inside.

I'm playing all the songs using the ```play-all``` directive.

I don't know if you read, but for me [this link](http://perminder-klair.git

[2017-02-19 22:20] iefoay commented on #40
+1

[2017-02-22 02:48] enesyurtlu opened #65 "On KeyUp Control Volume & Progress"
I want to volume down and up via keyboard control. And made this.
`    $scope.setProgress = function (progress) {
        var playing = soundManager.getSoundById(angularPlayer.getCurrentTrack());
        if (progress == "increase") {
            playing.setPosition(playing.position + 5000);
        } else {
            playing.setPosition(playing.position - 5000);
        }
    };

    $document.b

[2017-02-22 14:58] enesyurtlu commented on #28
I made "playlist starting on page load". You can use like this:
PS: If yu don't want to play the playlist automatically remove "angularPlayer.play();".

`$scope.homesongs = [{"id":"48","title":"Gülşen - Bir Fırt Çek (Catwork Club Versiyon)","url":"http://www.mixboxx.com/depos/electro-house/gulsen/201702/gulsen-bir-firt-cek-catwork-club-versiyon.mp3","art":"http://www.mixboxx.com/uploads/parca/2017

[2017-02-22 15:53] enesyurtlu commented on #40
I did it :) you can download from here [http://play.mixboxx.com/bower_components/angular-soundmanager2/dist/angular-soundmanager2.js](url)

Usage is like repeat music.

Check Shuffle Mode : {{shuffle}} (boolean) true / false

Shuffle directive: shuffle-music

Example:
<button id="shuffle" class="fa fa-random" ng-class="shuffle ? 'is-ok' : ''" shuffle-music></button>
<style>
.is-ok:before {
    col

[2017-03-10 03:06] LRonHubs opened #66 "How to access commands from controller?"
I understand how to add track, etc using the buttons provided.

For my use case I need to remove these buttons and instead do everything programatically (i.e. without user input).

I'm new to Angular JS. Basically I just want to use this library to do simple things like add a specific track and play it. That's really it.

I have this part:

angular.module('memoryGameApp', ['angularSoundManager']);

[2017-03-10 03:17] LRonHubs commented on #62
I also have this problem https://github.com/perminder-klair/angular-soundmanager2/issues/66

[2017-03-10 03:18] LRonHubs commented on #53
How do you inject the "angularPlayer" object?

[2017-03-10 03:26] LRonHubs commented on #48
I also have this issue ^ https://github.com/perminder-klair/angular-soundmanager2/issues/66

[2017-03-10 03:40] LRonHubs commented on #66
Using this stackoverflow post, you can basically hack Angular JS to click buttons that are already in the HTML. Then add the property hidden="true" to your button if you don't want it to be seen

[2017-03-10 11:38] rochapablo commented on #53
@LRonHubs, for example in your controller:

[code]

[2017-03-17 04:28] huulocnguyen opened #67 "Does soundmanager2 support to cache audio?"
I played a audio file, I also use repeat mode. But when it play again, it must be loaded again. it will be perfect if soundmanager2 can support cache

[2017-03-19 02:15] msieurtoph commented on #21
I got the same pb (using `data-ng-app` instead of `ng-app`)

What about using these instructions instead ?

[code]

I did not test but if I know css selectors well enough, it should work.

[2017-05-23 21:29] #53 closed

[2017-08-11 09:31] RameshNaikAspect opened #69 "Progress bar issue. If i click on the progress bar then it is playing from the beginning."
Hi,
I have used AngularJS sound manager(`<sound-manager></sound-manager>`).
While playing  If i click on the progress bar then it is playing from the beginning, how do i start from the selected position.
This is my HTML code:
`<sound-manager></sound-manager>
    <div class="mv-vmPlayer">
      <ul>
        <li><button id="playPreviousTrack" ng-attr-title="{{localize.ux.messageViewer.PlayPrev_btn_l

[2017-08-24 20:40] NevenLeung commented on #2
When I use some method from angularPlayer, the console throw _Error: [$rootScope:inprog]_.

I use $timeout() include the code originally in $apply().

[2017-09-22 10:42] NevenLeung opened #70 "prev-track directive being called twice!!"
Recently, I have met a strange thing.

When I click the next button with next-track directive, the step is 1, namely id + 1,
but when I click the button with prev-track directive, the step is 2, namely id - 2.

I have used console to debug. I have sawn the prevTrack() was called twice. It seems that the prevTrack() function was called by angularJS additionally.

I have checked your demo that works

[2017-09-24 11:11] NevenLeung commented on #44
@lthomas122 It seems a little difference between our case?

I use a tooltip to display the volume bar. When setting the **_volume_**  value by dragging the volume bar, the the **_volume_** value **_displayed_** on webpage is fine. Everytime hovering on the volume button, the **_volume_** value is what I set before, but the **_volume_** value **_displayed_** on webpage is still 90.

I think we shou

[2017-09-24 11:21] NevenLeung commented on #60
You can use the angular event to set this.

`                $rootScope.$broadcast('track:progress', trackProgress);
`

**_trackProgress_** is the number of played progress. The range of it is from 0 to 100. Calculate the progress number, and use the function above to set the position you want.

A better solution may be not clear the song playing, use removeSong() to remove other songs. When the s

[2017-09-24 11:28] NevenLeung commented on #47
@elprup By using your question for reference, I change the timeout to 10ms and 5ms. It works fine, much quicker than 100ms. So far, it does not lead to any problem.

[2017-09-29 07:25] lthomas122 commented on #44
So I did find a fix for this, but it was sometime ago now...

I will have a look for you when I have a chance and post my fix here.

On 24 Sep 2017 12:11, "Neven.Leong" <notifications@github.com> wrote:

[2017-10-11 07:41] RameshNaikAspect commented on #69
I see that the issue is with the Query related URLs. like below:
"http://localhost:58161/Demo/downloadFile?key=voicemail/11&filename=ovapeeecc00964b2ee4c8c8011e78d1c5dda72efd945.wav&Authorization=Bearer%20e088bcfa-3b8c-4dea-84a8-a8519443d8a0"

soundmanager2 doesn't support query urls ?

If not can someone suggest me the solution for it ?

[2017-10-12 11:00] Mahmoud85 opened #71 "android notification bar play/pause button"
I use this great angular-soundmanager2 within ionic android application , recently android chrome and even Mozilla adds a notification bar play/pause button .. is there anything we can do to make this available in soundmanager2/ionic app.

[2017-10-31 11:07] NevenLeung commented on #44
@lthomas122 Sorry! I didn't check the response here in time. Thanks for you help. I will be waiting for you solution.

[2017-11-22 11:41] lthomas122 commented on #44
Can you explain the issue a little better for me @NevenLeung ?

Is it that the actual volume is resetting in the JavaScript, like my issue? Or is it that the UI is being a bit glitchy and resetting back to 90?

[2017-11-22 12:13] lthomas122 commented on #44
if it's the actual volume not the volume UI controls. I've just written this script, which should point you in the right direction, however I've not tested it, as the project that I used soundmanager on ended years ago.

Hopefully this helps:

[code]

[2017-12-24 18:45] NevenLeung commented on #70
After packing through Gulp, this issue seems fixed by itself.

[2017-12-24 18:45] #70 closed, assigned to nobody

[2018-03-29 16:17] smohammedyasin opened #72 "Multiple players in gridview"
hello,
I want to use multiple players like grid view.
so that can have multiple progress seek bars and individual play/pause toggle buttons?

Thank you

[2018-06-15 22:11] AmirSavand commented on #58
Yes

[2021-06-11 17:24] #34 closed

[2021-06-11 17:24] kamronbatman commented on #34
I enabled issues incase anyone needs this. Sorry for the 6 year delay in replying.